
    <div class="container">
        <header class="header">
          <div class="top">
            <div class="logo">E-Consult</div>
            <!-- <nav class="nav"></nav> -->
          
            <span role="button" class="btn-text" routerLink="auth/login">LOGIN</span>
            <span role="button" class="btn-text" routerLink="auth/signup">SIGN UP</span>
          
           
          </div>
          <div class="header-text mb-3">
            <h1 class="header-text-main">Committed to You</h1>
            <p class="header-text-sub">
            E-consult is an integrated Telehealth booking solution platform designed to support and enhance medical appointment 
            in the hospital. It is a solution that seeks to transform the current health care delivery system.
            The platform promises a quick and unterrupted appointment booking system which intends to eradicate the long
              wait and queue in the hospital.
            </p>
          </div>
          <div class="btn mt-5">
            <a routerLink="booking" class="btn-link">
              
              <span class="btn-text" >Book An Appointment</span>
            </a>
          </div>
        </header>
        
      </div> 


 
