<div class="container" >
    <div class="row mt-3">
        <div class="col-12 col-lg-4 offset-lg-4">
            <div fxLayoutAlign= "center center" fxFlexFill >
            <mat-card class="text-center">
                
                <mat-card-header>
                    <mat-card-title>Book Appointment</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form action="">
                        <mat-form-field class="mt-5 mb-5" color="accent" appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="mt-5 mb-5" appearance="fill">
                            <mat-label>Choose a time</mat-label>
                            <input matInput type="time" id="inputMDEx1">
                        </mat-form-field>


                        <div class="mt-5 mb-5">
                            <p>
                                <button mat-raised-button color="primary" type="submit">
                                    Book Appointment
                                </button>
                            </p>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        </div>
    </div>
</div>